.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}


section {
  padding-top: 5rem;
}

footer{
  width: 100%;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  background: #333;
  color: #fff;
  position:fixed;
  bottom: 0px;
}
